@import '../main.css';
body{                           /*test*/
    background-color: deepskyblue;
}
span {
    margin: 30px;
    margin-left: 300px;
    height: 30px;
    width: 350px;
}
#clientName {
    margin: 30px;
    margin-left: 300px;
    height: 30px;
    width: 350px;
}
#address {
    margin: 30px;
    margin-left: 300px;
    height: 30px;
    width: 350px;
}
#comments {
    margin: 30px;
    margin-left: 300px;
    height: 30px;
    width: 350px;
}
.sendfile {
    margin: 30px;
    margin-left: 300px;
    height: 30px;
    width: 350px;
}
form {
    margin: 200px;
    background-color: white;


}
/*.label{
    margin-left: 30px;
    font-weight: bold;
    font-size: medium;
}
.submit{                           !*стиль для submit*!
    margin-left: 250px;
    background-color: blue;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.client_massages {
    align-content: center;
}
:-moz-placeholder {               !*стиль для placeholder*!
    color: blue;
}
::-webkit-input-placeholder {     !*стиль для placeholder*!
    color: blue;
}
*:focus {outline: none;}*/
